[Bb]in/
[Oo]bj/
[Ll]og/

*.csproj.user

**/local.settings.json

# Visual Studio 2015 cache/options directory
.vs/

# Validation test reporting 
Atlas.MatchingAlgorithm.Test.Validation/documentation/**
Atlas.MatchingAlgorithm.Test.Validation/StepDefinitionReport.html
Atlas.MatchingAlgorithm.Test.Validation/TestResult.*

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# DotCover is a Code Coverage Tool
*.dotCover

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!*.[Cc]ache/

# JetBrains Rider
.idea/
*.sln.iml

#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

local.settings.dev.json
local.settings.uat.json
