<connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=devnova;AccountKey=0ScCesQxSbzfPRxqoB/Qj9PDfJmfL5Rf1UZonRNN2Vw06HjHEdWwfnDCj/rgNGKXDN/FFi3t9wk9LMwNPr5pjw==;EndpointSuffix=core.windows.net" />
    <add name="SqlConnectionString" connectionString="Server=tcp:dev-nova-db.database.windows.net,1433;Initial Catalog=DEV-NOVA-DB-SEARCH-ALGORITHM-VALIDATION-TESTING;Persist Security Info=False;User ID=nova_algorithm_validation_tests;Password=24533345-c84e-441a-a1ba-c5d9235b6ef3;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>