<connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=algorithmvalidationtests;AccountKey=3AlgZeoNZYpBCUsxHsHMHTU5LyklCzP5EZLb8Sg642AC7bRNID5tfbxWZcQbM0sMyJ43ffHWIYrwkgpg3nODdQ==;EndpointSuffix=core.windows.net" />
    <add name="SqlConnectionString" connectionString="Data Source=(local);Initial Catalog=SearchAlgorithmValidationTests;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="HangfireSqlConnectionString" connectionString="Data Source=(local);Initial Catalog=SearchAlgorithmValidationTests;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
</connectionStrings>
