<connectionStrings>
    <add name="StorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=devnova;AccountKey=0ScCesQxSbzfPRxqoB/Qj9PDfJmfL5Rf1UZonRNN2Vw06HjHEdWwfnDCj/rgNGKXDN/FFi3t9wk9LMwNPr5pjw==;EndpointSuffix=core.windows.net" />
    <add name="SqlConnectionString" connectionString="Data Source=(local);Initial Catalog=SearchAlgorithmValidationTests;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
    <add name="HangfireSqlConnectionString" connectionString="Data Source=(local);Initial Catalog=SearchAlgorithmValidationTests;Integrated Security=True;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient"/>
</connectionStrings>