<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.6.1" targetFramework="net461" />
  <package id="Autofac.Owin" version="4.0.0" targetFramework="net461" />
  <package id="Autofac.WebApi2" version="4.0.0" targetFramework="net461" />
  <package id="Autofac.WebApi2.Owin" version="4.0.0" targetFramework="net461" />
  <package id="AutoMapper" version="6.1.1" targetFramework="net461" />
  <package id="Castle.Core" version="4.1.1" targetFramework="net461" />
  <package id="FluentAssertions" version="4.19.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.0" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.2.0" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net462" />
  <package id="Microsoft.Owin.Hosting" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Testing" version="3.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json.Schema" version="3.0.2" targetFramework="net461" />
  <package id="Nova.Utils" version="2.15.2" targetFramework="net462" />
  <package id="Nova.Utils.TestUtils" version="2.15.2" targetFramework="net462" />
  <package id="Nova.Utils.WebApi" version="2.15.2" targetFramework="net462" />
  <package id="NSubstitute" version="2.0.2" targetFramework="net461" />
  <package id="NUnit" version="3.6.1" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.6.1" targetFramework="net461" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net461" />
  <package id="OpenCover" version="4.6.519" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="ReportGenerator" version="2.5.7" targetFramework="net461" />
  <package id="ReportUnit" version="1.2.1" targetFramework="net461" />
</packages>