<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WmdaFileUri" connectionString="https://raw.githubusercontent.com/ANHIG/IMGTHLA/Latest/"
       providerName="" />
    <add name="TestWmdaFilePath" connectionString="\Tests\Repositories\wmda-v3-31-0\"
         providerName="" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>